.git
.gitignore
__pycache__/
*.pyc
.venv/
venv/
myenv/
.env
Dockerfile
.dockerignore
tests/
pyproject.toml
.pytest_cache/
.coverage
htmlcov/
pytest_report/
sonar-project.properties
coverage.xml
.scannerwork/
